<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List of Expense</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" />


</head>
<body>

	<br><br><br><br>
	<div class="container">

		<div class="starter-template ">
			<h3>List of Expense </h3>
			
				<table class="table table-striped table-hover dt-responsive">
        <tr>
            <th>Id</th>
            <th>Client Name</th>
             <th>Title</th>
              <th>Description</th>
               <th>Creation Date & time</th>
               <th>Amount</th>
                <th>Curreny</th>
        </tr>
        <tr th:each="count : ${lists}">
            <td th:text="${count.expid}"></td>
            <td th:text="${count.clientname}"></td>
             <td th:text="${count.title}"></td>
              <td th:text="${count.descpp}"></td>
               <td th:text="${count.creatDate}"></td>
               <td th:text="${count.amount}"></td>
               <td th:text="${count.currency}"></td>
        </tr>
    </table><br>
		<button class="btn btn-primary" onclick="window.history.back();">Go Back</button>	
		</div>

	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>